spacy~=3.5.0
torch~=2.4.1+cu118
pandas~=2.2.3
transformers~=4.44.1
datasets~=2.19.1
scikit-learn~=1.5.2
pymorphy3~=2.0.2
flask~=3.0.3
flask-cors~=5.0.0
Flask-SQLAlchemy~=3.1.1
python-dotenv~=1.0.1
Flask-Migrate~=4.0.7
psycopg2-binary~=2.9.10
sqlalchemy~=2.0.36
fastapi~=0.115.4
pydantic~=1.10.18
alembic~=1.13.3
uvicorn~=0.32.0